* {
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

:root {
  --primary-color: #004eee;
  --secondary-color: #92bcea;
}

body {
  background-color: #f2f3f7;
}

.formContainer {
  background-color: white;
  max-width: max-content;
  margin: 4rem auto;
  padding: 2rem;
  border-radius: 6px;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}

.heading {
  text-align: center;
  margin: 1rem 2rem;
}

.inputForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.inputForm label {
  text-align: center;
}

.inputForm input {
  margin: 0.5rem 0 1.25rem 0;
  padding: 0.5rem 1rem;
  border-radius: 6px;
  border: 1px solid #886d6d;
}

.inputForm button {
  background-color: var(--primary-color);
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 6px;
  color: white;
  cursor: pointer;
  font-size: 1.1rem;
}

.formContainer .errorMsg {
  color: red;
  max-width: 28ch;
  margin: 1rem auto 0 auto;
  text-align: center;
  font-size: 12;
}

.mainSection {
  display: none;
}

.liftContainer {
  display: flex;
}

.button {
  display: block;
  margin: 1.5rem 0;
  background-color: none;
  border: none;
  cursor: pointer;
}

.liftCar {
  width: 75px;
  height: 125px;
  background-color: var(--secondary-color);
  margin: 0 2rem;
  transition: transform ease-in-out 0.5s 0.5s;
}

.floor {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.floorBase {
  height: 2px;
  background-color: black;
  flex: auto;
}
