@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

:root {
  --primary-color: #004eee;
  --secondary-color: #92bcea;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  box-sizing: border-box;
  font-family: 'Inter', serif;
  background-color: #f2f3f7;
}

.formContainer {
  margin: 4rem auto;
  padding: 2rem;
  background-color: white;
  max-width: max-content;
  border-radius: 6px;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}

.heading {
  text-align: center;
  margin: 1rem 2rem;
}

.inputForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.inputForm label {
  text-align: center;
}

.inputForm input {
  margin: 0.5rem 0 1.25rem 0;
  padding: 0.5rem 1rem;
  border-radius: 6px;
  border: 1px solid #886d6d;
}

.inputForm button {
  background-color: var(--primary-color);
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 6px;
  color: white;
  cursor: pointer;
  font-size: 1.1rem;
}

.formContainer .errorMsg {
  color: red;
  max-width: 28ch;
  margin: 1rem auto 0 auto;
  text-align: center;
  font-size: 12;
}

.mainSection {
  display: none;
  padding: 2rem;
}

.liftContainer {
  width: 75px;
  height: 125px;
  background-color: var(--primary-color);
  margin: 0 1rem;
}

.liftButtons {
  margin: 25px 0;
}

.liftButtons button,
.backButton {
  cursor: pointer;
  display: block;
  margin: 0;
  background: none;
  border: none;
  cursor: pointer;
}

.liftUpBtn:disabled,
.liftDownBtn:disabled,
button:disabled {
  opacity: 0.5;
  cursor: no-drop;
}

.floor {
  display: flex;
  align-items: center;
  gap: 1rem;
  border-bottom: 1px solid #cbd5e1;
}
